
.loadpage {
    display: block;
    align-items: center;
  }
  .leadpage-btn1{
    background: #FFCF2F;
    border-radius: 10px;
    border-color: #FFCF2F;
    color: black;
    margin-top: 40px;
    margin-right: 30px;
  }
  .leadpage-btn2{
    background: #444444;

    border-radius: 10px;
    border-color: #444444;
    color: #ffffff;
    margin-top: 40px;
  }
  .container{
    padding-top: 60px;
  }