<div class="header pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="container-fluid d-flex align-items-center">
        <div class="row">
          <div class="col-lg-12 col-md-10">
            <h1 class="display-2 text-white">


              A WORKING FAITH</h1>


          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>
<div class="container-fluid mt--4">
  <div class="row">
    <div class="col-xl-12 mb-12 mb-xl-12">
      <div class="card bg-gradient-dark shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col text-white mb-0">
              <u class="text-uppercase text-light ls-1 mb-1"> 


A WORKING FAITH </u><br>
To many, "faith" is a common yet indistinct word - often with spiritual or wishful thinking overtones
and little to do with everyday life ... or does it ...<br><br>
<b>He who has faith has... an inward reservoir of courage, hope, confidence, calmness, and assuring
trust that all will come out well - even though to the world it may appear to come out most badly.<br>
B. C. Forbes, Founder Forbes Magazine</b>


              </div>
          </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-xl-12 mb-12 mb-xl-12">
      <div class="card bg-gradient-white shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col text-dark mb-0">


1. In a non-religious sense, what ways might faith be essential to the exercise of leadership in
today's workplace?<hr>
2. What is faith? How does faith differ from belief?<hr>

3. Can faith be unjustified? What determines whether a faith is a 'sound' faith or not?<hr>

4. Does the amount or strength of your faith matter? Why or Why not?<hr>

5. What is the object of Biblical faith according to John 20:30-31?<br>
<p>Therefore many other signs Jesus also performed in the presence of the disciples, which are not written in
this book; but these have been written so that you may believe that Jesus is the Christ, the Son of God; and
that believing you may have life in His name. John 20:30-31</p><hr>

6. Why Jesus? What did Jesus claim in John 14:6-9?<br>
<p>Jesus said to him, "I am the way, and the truth, and the life; no one comes to the Father but through Me. "If
  you had known Me, you would have known My Father also; from now on you know Him, and have seen Him."
  Philip said to Him, "Lord, show us the Father, and it is enough for us." Jesus said to him, "Have I been so long
  with you, and yet you have not come to know Me, Philip? He who has seen Me has seen the Father; how can
  you say, 'Show us the Father'? John 14:6-9</p><hr>
7. Read Mark 2:1-12. What claim did Jesus make and how did He back His claim up?<br>
<h4>THE ROMANS ROAD – Your Response to What Jesus Has Done For You</h4><br>
<p>* For all have sinned and fall short of the glory of God. Romans 3:23<br>
   * But God demonstrates His own love toward us, in that while we were yet sinners, Christ died for us. Much
  more then, having now been justified by His blood, we shall be saved from the wrath of God through Him. For
  if while we were enemies we were reconciled to God through the death of His Son, much more, having been
  reconciled, we shall be saved by His life. Romans 5:8-10<br>
   * For the wages of sin is death, but the free gift of God is eternal life in Christ Jesus our Lord. Romans 6:23<br>
   * If you confess with your mouth Jesus as Lord, and believe in your heart that God raised Him from the dead,
   you will be saved. Romans 10:9<br>
   * Therefore, having been justified by faith, we have peace with God through our Lord Jesus Christ. Romans 5:1</p><br>
<h4>A - Admit your rebellion and indifference to God is sinful and separates you from God.
 You are helpless and hopeless<br>
  B - Believe (trust) Christ's death and resurrection is wholly sufficient - there is nothing else you can do.<br>
  C - Confess Him as Lord. Yield to Christ turning away from sin and self-effort.</h4><br>
<p style="padding-top: 3px;">“Lord Jesus, I need You. Thank You for dying on the cross for my sins. I open the door of my life and receive You as my
        Saviour and Lord. Thank You for forgiving my sins and giving me eternal life. Take control of the throne of my life.
        Make me the kind of person You want me to be.”</p><hr>

        8. At the time of marriage, we understand we are making a total commitment to our spouse - our
mind, emotions and will, but what does it mean to trust Jesus ...
a. Intellect - Is Jesus worthy of our trust? What evidence is there to support Jesus’ claims?


        <div class="row">
          <div class="col" style="padding-left: 50px;">
            * John 20:30,31<br>
            * Romans 1:4<br>
            * I Corinthians 15:3-8<br>
            * 2 Corinthians 3:18<br>
          </div>
          <div class="col">
        <img src="/assets/img/icons/chpt1.1.png" alt="" style="width: 70%;">
          </div> 
        </div>
        
        <div class="row" style="border: 2px; border-color: black;">
          <p>* Fulfilment of prophecies made hundreds of years before the birth of Christ is another evidence of the veracity of the claims
            of Christ. It is not possible these events happened by mere coincidence -- Peter W. Stoner and Robert C. Newman wrote a
            book entitled Science Speaks. The book was based on the science of probability and vouched for by the American Scientific
            Affiliation. It set out the odds of any one man in all of history fulfilling even only eight of the 60 major prophecies (and 270
            ramifications) fulfilled by the life of Christ. The probability that Jesus of Nazareth could have fulfilled even eight such
            prophecies would be only 1 in 1e+17
            . This would be like covering an area twice the size of Rajasthan - the largest state in
            India - with one rupee coins two feet deep, stirring in one coin marked with an X and then asking a blindfolded man to be
            randomly dropped into the pile and randomly select the marked coin out of 1017coins on his very first attempt.</p><br>
        </div>
       <br> b. Emotions - As emotional beings, what is the connection between our faith and our feelings?<br>
        <P>And you shall love the Lord your God with all your heart, and with all your soul, and with all your mind, and with
          all your strength. Mark 12:30</P><br><br>

c. Volition - Can you be intellectually convinced and emotional engaged and still not trust Jesus?
What does it mean to “receive” Him in John 1:12?<br>
<p>But as many as received Him, to them He gave the right to become children of God, even to those who believe in
  His name. John 1:12</p><hr>

  9 According to Ephesians 2:8,9, what is God's part and what is our part in regard to salvation?<br>
  <p>For by grace you have been saved through faith; and that not of yourselves, it is the gift of God; not as a result
    of works, so that no one may boast. Ephesians 2:8-9</p><hr>

    10. What does I John 5:11-13, John 10:27-29, John 6:37-39 and Romans 8:38,39 indicate about the
security and permanence of our relationship with God? What problems might arise if forgiveness
and your relationship with God depended, even in part, on your own efforts to be worthy rather
than being wholly dependent on the salvation God has provided through Jesus Christ?<br>

              </div>
            </div>
          </div>
        </div>
      </div>
     </div>
   </div>
   <div class="container-fluid mt-2">
    <div class="row justify-content-center">
      <div class="col-xl-10 mb-10 mb-xl-10 ">
        <div class="card bg-gradient-dark shadow">
          <div class="card-header bg-transparent text-white" style="font-family: lora;">
            <i><b>Have you received Christ in the way this lesson describes? If not, would you like to now?<br>
            Are you sure of your relationship with God? What might you do this week to strengthen your faith in God?</b></i>
            </div>
          </div>
        </div>
      </div>
    </div>