<div class="header pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->
        <div class="container-fluid d-flex align-items-center">
          <div class="row">
            <div class="col-lg-12 col-md-10">
              <h1 class="display-2 text-white">
  
  
                A NEW IDENTITY</h1>
  
  
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  <div class="container-fluid mt--4">
    <div class="row">
      <div class="col-xl-12 mb-12 mb-xl-12">
        <div class="card bg-gradient-dark shadow">
          <div class="card-header bg-transparent">
            <div class="row align-items-center">
              <div class="col text-white mb-0">
                <u class="text-uppercase text-light ls-1 mb-1"> 
  
  
                  A. Relationships </u><br>
                  Cultivating relationships is a natural part of life - but for some, a relationship with God seems
                  mysterious and difficult. What are some important ingredients of any relationship at work or at
                  home? What do you feel may be the most important ingredient?<br><br>
                  For by grace you have been saved through faith; and that not of yourselves, it is the gift of God; not as a result
                  of works, so that no one may boast. Ephesians 2:8-9<br>
                  Therefore as you have received Christ Jesus the Lord, so walk in Him, having been firmly rooted and now
                  being built up in Him and established in your faith, just as you were instructed, and overflowing with
                  gratitude. Colossians 2:6-7<br>
                  And without faith it is impossible to please Him, for he who comes to God must believe that He is and that He
                  is a rewarder of those who seek Him. Hebrews 11:6<br>
  
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="container-fluid mt-4">
    <div class="row">
      <div class="col-xl-12 mb-12 mb-xl-12">
        <div class="card bg-gradient-white shadow">
          <div class="card-header bg-transparent">
            <div class="row align-items-center">
              <div class="col text-dark mb-0">
  
  
                1. How does a person receive God’s salvation (Ephesians 2:8-9)?<hr>
                2. How do we grow or walk in our new relationship with Christ (Colossians 2:6,7)?<hr>
                3. Why is it be "impossible" to please God without faith (Hebrews 11:6)?<hr>
                4. Spiritual Growth is "increasingly trusting Christ with every detail of your life." What are some
                aspects of life you may not have yet fully entrusted to God? How does that affect you?<hr>
  
                </div>
              </div>
            </div>
          </div>
        </div>
       </div>
     </div>
     <div class="container-fluid mt-4">
      <div class="row">
        <div class="col-xl-12 mb-12 mb-xl-12">
          <div class="card bg-gradient-dark shadow">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col text-white mb-0">
                  <u class="text-uppercase text-light ls-1 mb-1"> 
    
    
                    B. A New Creation</u><br>
                    Therefore if anyone is in Christ, he is a new creature; the old things passed away; behold, new things have
  come ... He made Him who knew no sin to be sin on our behalf, so that we might become the righteousness of
  God in Him. 2 Corinthians 5:17,21<br>
  I have been crucified with Christ; and it is no longer I who live, but Christ lives in me; and the life which I now
  live in the flesh I live by faith in the Son of God, who loved me and gave Himself up for me. Galatians 2:20<br>
    
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  
  <div class="container-fluid mt-4">
    <div class="row">
      <div class="col-xl-12 mb-12 mb-xl-12">
        <div class="card bg-gradient-white shadow">
          <div class="card-header bg-transparent">
            <div class="row align-items-center">
              <div class="col text-dark mb-0">
  
  
                1. How does II Corinthians 5:17,21 and Galatians 2:20 describe the condition of a person who
                belongs to Christ? Explain the “exchange” that is described in these passages.<hr>
                2 What are some of the challenges a person experiences when, for the first time, he takes an international
                work assignment away from his country of origin? In what ways might this be an analogy to the person
                who has recently come to Christ?<hr>
                3. Many offices require their staff to carry an identity card as proof of who they are. How does our
                new identity affect our perspective (Colossians 3:1-2), our purpose (Matthew 6:19-21, 33-34),
                our lifestyle (Colossians 3:5,12-14) and our source of power (Romans 8:13,14)?<hr>
  <p>For this is the love of God, that we keep His commandments; and His commandments are not burdensome.
    For whatever is born of God overcomes the world; and this is the victory that has overcome the world--our
    faith. I John 5:3-4
    Do not lie to one another, since you laid aside the old self with its evil practices, and have put on the new self
    who is being renewed to a true knowledge according to the image of the One who created him.
    Colossians 3:9,10</p><hr>
  
    4. What does living out your new identity look like in the workplace and at home (I John 5:3,4)?<hr>
  
  5. Practically speaking how do we “put on” the new self (Colossians 3:9,10)?<hr>
  
                </div>
              </div>
            </div>
          </div>
        </div>
       </div>
     </div>
  
     <div class="container-fluid mt-4">
      <div class="row">
        <div class="col-xl-12 mb-12 mb-xl-12">
          <div class="card bg-gradient-dark shadow">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col text-white mb-0">
                  <u class="text-uppercase text-light ls-1 mb-1"> 
    
    
                    C. Working On Faith</u><br>
                    The more we understand our inadequacies and the more we see God engaged in our lives and
                    meeting us at our point of need, the more our confidence in Him grows.
    
    
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  
    <div class="container-fluid mt-4">
      <div class="row">
        <div class="col-xl-12 mb-12 mb-xl-12">
          <div class="card bg-gradient-white shadow">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col text-dark mb-0">
    
    
                  1. How can we reconcile the apparent conflict between James 2:17,24 and Galatians 2:16?<hr>
                  2. What is God’s part and what is our part in 'spiritual growth' (Romans 16:25-26)?<br>
    <p>Now to Him who is able to establish you according to my gospel and the preaching of Jesus Christ, according to
      the revelation of the mystery which has been kept secret for long ages past, but now is manifested, and by the
      Scriptures of the prophets, according to the commandment of the eternal God, has been made known to all the
      nations, leading to obedience of faith. Romans 16:25-26</p><hr>
      3. What are two “works” that come as a result of trusting Christ in the following verses?<br>
      <p>Paul before King Agrippa: "I did not prove disobedient to the heavenly vision, but kept declaring ... that they
        should repent and turn to God, performing deeds appropriate to repentance.” Acts 26:19-20
        In everything give thanks; for this is God's will for you in Christ Jesus. 1 Thessalonians 5:18</p><hr>
    
        4. What can be done to cultivate faith (Romans 10:17, Joshua 1:8)?<br>
    <p>So faith comes from hearing, and hearing by the word of Christ. Romans 10:17<br>
      "This book of the law shall not depart from your mouth, but you shall meditate on it day and night ..." Joshua 1:8</p><hr>
      5. Many people think struggling spiritually is normal. How might your perception of “struggling”
      change if it is defined as "procrastinating in doing what God has already told you to do?"
                  </div>
                </div>
              </div>
            </div>
          </div>
         </div>
       </div>
  
  
  
  
     <div class="container-fluid mt-2">
      <div class="row justify-content-center">
        <div class="col-xl-10 mb-10 mb-xl-10 ">
          <div class="card bg-gradient-dark shadow">
            <div class="card-header bg-transparent text-white" style="font-family: lora;">
              <i><b>God's first great design in all our trouble is that we might let go of self-confidence. When we do
                that, there is a temporary sense of falling. But by faith in God's mercy, we land, infinitely more
                secure, in the arms of our Father, who is utterly in control at the brink of life and death.<br>
               John Piper, Brothers, We Are Not Professionals, 2002, p.141</b></i>
              </div>
            </div>
          </div>
        </div>
      </div>