<div class="backdrop" [ngStyle]="{'display':displayVideoModal}"></div>
<div class="backdrop" [ngStyle]="{'display':displayAssessmentModal}"></div>

<div class="container-scroller">
      
    <div class="main-panel">
      <div class="content-wrapper pb-0">
        
        <div class="row">
          
          <div class="col-xl-8 grid-margin">
            <h3>Learning Activity</h3>
            
            <div class="card">
              <div class="card-body">
                <div class="row my-3">
                  <div class="col-sm-12">
                    <div class="flot-chart-wrapper">
                      <div id="flotChart" class="flot-chart">
                        <canvas class="flot-base"></canvas>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-4 col-lg-12  grid-margin">
            <!--datepicker-->
            <h3>Class dates</h3> 
            <div class="card"> 
              <div class="card-body">
                <div id="inline-datepicker" class="datepicker table-responsive"></div>
              </div>
            </div>
            <!--datepicker ends-->
          </div>
        </div>
        <div class="row">
          <div class="col-xl-4 grid-margin">
            <h3>Your Courses</h3>
            <div class="card">
              <div class="card-body">

                <h4>Father heart</h4>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">80%</div>
                </div>
                <h4>God in Business</h4>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 45%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">45%</div>
                </div>
                <h4>Evangelism</h4>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">50%</div>
                </div>
                <h4>Faithful Walk</h4>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 83%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">83%</div>
                </div>

              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6 grid-margin ">
            <h3>Your Class</h3>
            <div class="card">
              <div class="card-body">
                <table class="table table-borderless">
                  <thead>
                    <tr>
                      <th>Course:</th>
                      <th>Father heart</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Topic:</td>
                      <td>Patience</td>
                    </tr>
                    <tr>
                      <td>Time & Date:</td>
                      <td>Mon, 15:00</td>
                    </tr>
                  </tbody>
                </table>
                
      <div class="row align-items-center">
        <div class="col text-center loadpage">
                <button type="button" class="btn  leadpage-btn1">Join</button>
              <button type="button" class="btn  leadpage-btn2">Later</button>
              </div>
              </div>

              <table class="table table-borderless">
                <thead>
                  <tr>
                    <th>Course:</th>
                    <th>Evangelism</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Topic:</td>
                    <td>Fear if man</td>
                  </tr>
                  <tr>
                    <td>Time & Date:</td>
                    <td>Mon, 10:00</td>
                  </tr>
                </tbody>
              </table>
              
               <div class="row align-items-center">
              <div class="col text-center loadpage">
              <button type="button" class="btn  leadpage-btn1">Join</button>
            <button type="button" class="btn  leadpage-btn2">Later</button>
            </div>
            </div>

              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6 grid-margin ">
            <h3>Set weekly study goals</h3>
            <div class="card">
              <div class="card-body">
                <table class="table table-borderless">
                  <thead>
                    <tr>
                      <th>Weekly study hours:</th>
                      <th>14</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Per day</td>
                      <td>2</td>
                    </tr>
                  </tbody>
                </table>
                <div class="row align-items-center">
                  <div class="col text-center loadpage">
                  <button type="button" class="btn  leadpage-btn1">Change</button>
               
                </div>
                </div>
                
            </div>
            </div>
            <h3>Live Cass</h3>
            <div class="card">
              <div class="card-body">
                <table class="table table-borderless">
                  <thead>
                    <tr>
                      <th>Course:</th>
                      <th>God in Business</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Topic:</td>
                      <td>Godly employee</td>
                    </tr>
                    <tr>
                      <td>Time & Date:</td>
                      <td>Wed, 15:00</td>
                    </tr>
                  </tbody>
                </table>
                <div class="row align-items-center">
                  <div class="col text-center loadpage">
                  <button type="button" class="btn  leadpage-btn1">Join</button>
               
                </div>
                </div>
                
            </div>
          </div>
          </div>
          <div class="col-xl-2 col-md-6 grid-margin">
            <h3>You</h3>
            <div class="card"  >
              <div class="card-body">
                <img src="assets/img/profile.png" alt="" srcset="" width="100%">
                <p>Santhosh kumar</p>
                </div>
                
        
            <!--browser stats ends-->
          </div>
          </div>
          </div>
          </div>
          </div></div>