<div class="header py-5 py-lg-6" style="background: #BBBBBB;">
  <div class="container-fluid">
      <div class="row" >
          <div class="col-lg-4 col-md-7 register" style="background: #ffffff;">
            <div class="text-center"> 

            <img src="assets/img/icons/Vector.png" style="padding-bottom: 20px; padding-top: 70px;"alt="">
          </div>
            <p class="text-center" style="font-family: 'Tahoma';
            font-style: normal;
            font-weight: 700;
            font-size: 25px;
            line-height: 30px; color: #444444;">Create Account</p>

            
            <p class="text-center" style="font-family: 'Tahoma';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            color: #444444; margin-top: -10px;">Sign into your account or register</p>
            <div class="form" style="padding-top: 20;">
              <form action="" method="post">
                <label for="Email">Name & Surname</label>
                <input type="text" placeholder="Enter Name " name="name" required>
                <label for="Email">Email</label>
                <input type="text" placeholder="Enter Email" name="email" required>
                 <label for="psw">Password</label>
                 <input type="password" placeholder="Enter Password" name="psw" required>
                  <div class="login" style="text-align: center;padding-bottom: 70px;">
                    <a href="/#/dashboard" ><button type="button" class="btn  login-btn1">Login</button></a>
                    <a href="/#/register" ><button type="button" class="btn  login-btn2">Register</button></a>
                 </div>
              </form>
            </div>

          </div>
          <div class="col-lg-8 d-none d-lg-block" style="background: #BBBBBB; padding-top: 50px;">
            <img src="assets/img/theme/loginbg1.png" class="img-fluid" alt="Responsive image">
          </div>
      </div>
  </div>
</div>










<!-- 
<form role="form">
  <div class="form-group">
    <div class="input-group input-group-alternative mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
      </div>
      <input class="form-control" placeholder="Name" type="text">
    </div>
  </div>
  <div class="form-group">
    <div class="input-group input-group-alternative mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="ni ni-email-83"></i></span>
      </div>
      <input class="form-control" placeholder="Email" type="email">
    </div>
  </div>
  <div class="form-group">
    <div class="input-group input-group-alternative">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
      </div>
      <input class="form-control" placeholder="Password" type="password">
    </div>
  </div>
  <div class="text-muted font-italic"><small>password strength: <span class="text-success font-weight-700">strong</span></small></div>
  <div class="row my-4">
    <div class="col-12">
      <div class="custom-control custom-control-alternative custom-checkbox">
        <input class="custom-control-input" id="customCheckRegister" type="checkbox">
        <label class="custom-control-label" for="customCheckRegister">
          <span class="text-muted">I agree with the <a href="#!">Privacy Policy</a></span>
        </label>
      </div>
    </div>
  </div>
  <div class="text-center">
    <button type="button" class="btn btn-primary mt-4">Create account</button>
  </div>
</form> -->