
<div class="header">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="container-fluid d-flex align-items-center">
        <div class="row">
          <div class="col-lg-7 col-md-10">
            <h1 class="display-2 text-white">Welcome to Workplace Faith!!</h1>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>


<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-xl-12 mb-12 mb-xl-12">
      <div class="card card-head1" style="margin-top: -50px;">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col">
              <h1 class="text-uppercase text-light ls-1 mb-1">LEADERSHIP MOVEMENTS</h1>
              <h4 class="text-white mb-0">Helping Leaders live out their calling<br>
                – reaching and influencing society for Christ through Kingdom Leaders</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-3">
   

    <div class="col-xl-4">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
               

          </div>
        </div>
        <div class="table-responsive">
          <!-- Projects table -->
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Chapters</th>
                <th scope="col">Comleted</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">
                 <a onclick="topFunction()" routerLinkActive="active" [routerLink]="['/chapter1']"> 1. A Working Faith</a>
                </th>
               
                <td>
                  <div class="d-flex align-items-center">
                    <span class="mr-2">90%</span>
                    <div>
                      <div class="progress">
                        <div class="progress-bar bg-gradient-danger" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <a onclick="topFunction()" routerLinkActive="active" [routerLink]="['/chapter2']"> 2. A New Identity</a>
                 
                </th>
                
                <td>
                  <div class="d-flex align-items-center">
                    <span class="mr-2">70%</span>
                    <div>
                      <div class="progress">
                        <div class="progress-bar bg-gradient-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <a onclick="topFunction()" routerLinkActive="active" [routerLink]="['/chapter3']">3. Forgiven And Free</a>
    
                </th>
               
                <td>
                  <div class="d-flex align-items-center">
                    <span class="mr-2">40%</span>
                    <div>
                      <div class="progress">
                        <div class="progress-bar bg-gradient-primary" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;"></div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <a onclick="topFunction()" routerLinkActive="active" [routerLink]="['/chapter4']">4. Power For Living</a>
                  
                </th>
               
                <td>
                  <div class="d-flex align-items-center">
                    <span class="mr-2">10%</span>
                    <div>
                      <div class="progress">
                        <div class="progress-bar bg-gradient-info" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%;"></div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <a onclick="topFunction()" routerLinkActive="active" [routerLink]="['/chapter5']">5. Knowing God - Really!!</a>
                  
                </th>
               
                <td>
                  <div class="d-flex align-items-center">
                    <span class="mr-2">00%</span>
                    <div>
                      <div class="progress">
                        <div class="progress-bar bg-gradient-warning" role="progressbar" aria-valuenow="00" aria-valuemin="0" aria-valuemax="100" style="width: 00%;"></div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-xl-8 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h4 class="mb-0">It is said that everything rises or falls on leadership.</h4>
              <p>Whether you are a student, housewife, labourer or professional ... whether you are in
                business or in private or public service ... we believe God has made each person for a
                particular purpose and is calling him or her to Himself and uniquely preparing them to
                honour Him by serving through their unique vocation. Your calling is a high calling!
                Your vocation IS ministry!!<br><br>
                It is within this vocational context that we are also called first to be and then to make
                disciples of Jesus Christ. Guided by His Word, aligned through prayer and empowered by
                His Spirit, we are to lead out and excel in our vocation, reflect the characteristics of His
                Kingdom, and minister to society through service, prayer, proclamation of the Good News of
                the Kingdom and discipleship.</p>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-xl-12 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header border-0">
          <form>
         <h4>To this end we seek to build Kingdom Leaders in every sphere of influence in society.
          These Kingdom Leaders should exemplify the following characteristics:</h4>
          <p>1. They walk with <select name="blanks1">
            <optgroup>
              <option value="">--Please choose an option--</option>
              <option value="yoshua">yoshua</option>
              <option value="almighty">almighty</option>
              <option value="god" >god</option>
              <option value="Lord">lord</option>
            </optgroup>
          </select> and are sure of their calling.<br>
            2. They understand how Scripture applies to their vocation.<br>
            3. They have a transformative influence on society as they innovate Spirit-inspired
            solutions to challenges in their vocation.<br>
            4. They make disciple-makers<br>
            - Winning people to Christ as a way of life in the context of their vocation<br>
            - Building those new believers in their faith<br>
            - Equipping and Sending them to in turn win, build and send others to do the same.<br>
            5. They have a godly ambition to excel professionally to expand their influence for the sake
            of the <select name="blanks1">
              <optgroup>
                <option value="">--Please choose an option--</option>
                <option value="yoshua">land</option>
                <option value="Kingdom">Kingdom</option>
                <option value="god">Empire</option>
                <option value="Lord">realm</option>
              </optgroup>
            </select><br>
            6. They pursue the objectives of the Kingdom in mission-focused communities
            - Accountable to each other
            - Learning from those who have gone before
            - Intentionally mentoring the emerging leaders who follow<br>
          </p>
          
        </form>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-4">
              <button class="popup " (click)="submit()"> View Anwsers <span class="popuptext" id="myPopup">
                1. They walk with <b>God</b> and are sure of their calling.<br>5. They have a godly ambition to excel professionally to expand their influence for the sake
                of the <b>Kingdom </b>
              </span>
            </button>
            </div>
            
          </div>
        </div>
        
        
        
        </div>
       </div>
       </div>
  </div>
</div>
